*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
#ashoka_chakra_image{
    width: 200px;
    height: 200px;
    background-image: url(../../assets/images/AshokaChakraImage.jpg);
    background-size: 100%;
    border-radius: 50%;
    margin: 250px auto;
    transition: all 1500ms linear;
}
#ashoka_chakra_image:hover{
    box-shadow: 0px -100px 15px orange,
                -100px 100px 15px white,
                100px 100px 15px green;
    transform: rotate(360deg) scale(1.5);
}