*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#indian_flag_container{
    width: 90%;
    height: 450px;
    margin: 100px auto;
    cursor: pointer;
}
.indian_flag_color_container{
    width: 100%;
    height: 150px;
    border-radius: 50px;
}
#orange_color_container{
    background-color: orange;
}
#white_color_container{
    background-color: white;
}
#green_color_container{
    background-color: green;
}
#ashoka_chakra_image_container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../../assets/images/AshokaChakraImage.jpg);
    background-size: 100%;
    margin: 0px auto;
}
#indian_flag_container:hover #ashoka_chakra_image_container{
    /* transform: skew(3600deg,3600deg); */
    transform: rotate(360deg);
    transition: transform 10000ms linear;
}