*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: productsans;
}
@font-face {
    font-family: productsans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}
#box_container{
    width: 250px;
    height: 250px;
    margin: 35px 0px 0px 35px;
    border-radius: 20%;
    background-color: darkblue;
}
#box_container:hover{
    /* box-shadow: horizontal-offset vertical-offset spread color; */
    box-shadow: 0px -25px 0px gray;
    box-shadow: 25px 0px 10px gray;
    box-shadow: 300px 0px 10px gray,600px 0px 10px gray,900px 0px 10px gray,1200px 0px 10px gray,
                300px 300px 10px gray,600px 300px 10px gray,900px 300px 10px gray,1200px 300px 10px gray;
    box-shadow: 0px 25px 10px gray;
    box-shadow: -25px 0px 10px gray;
    box-shadow: -25px -25px 10px gray;
    box-shadow: 25px -25px 10px gray;
    box-shadow: 25px 25px 10px gray;
    box-shadow: -25px 25px 10px gray;
}
#click_here_button{
    font-size: 150px;
    padding: 20px;
    margin: 35px 0px 0px 35px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: peachpuff;
    box-shadow: inset -20px -20px 10px orangered;
}