*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: productsans;
}
@font-face {
    font-family: productsans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
#web_development_heading{
    font-size: 150px;
    text-align: center;
    letter-spacing: -3px;
    /* font properties */
    /* font-weight: 100-900 | bold | bolder | lighter; */
    font-weight: bold;
    /* font-style: normal(default value) | italic; */
    font-style: normal;
    /* font-variant: small-caps; */
    font-variant: small-caps;
    /* text properties */
    /* text-align: left(default value) | center | right | justify; */
    text-align: center;
    /* text-decoration-line: underline | overline | line-through; */
    text-decoration-line: underline;
    text-decoration-thickness: 30px;
    /* text-decoration-style: solid(default value) | dashed | dotted | double | wavy; */
    text-decoration-style: solid;
    text-decoration-color: red;
    /* shorthand property */
    /* text-decoration: line thickness style color; */
    text-decoration: underline 30px solid transparent;
    text-underline-offset: 20px;
    /* text-shadow: horizontal_offset vertical_offset spread_amount shadow_color; */
    text-shadow: 0px 0px 10px orange,0px 0px 20px orange,0px 0px 30px orange;
}
#web_development_paragraph{
    font-size: 35px;
    margin-top: 50px;
    text-align: justify;
    letter-spacing: 5px;
    word-spacing: 15px;
    line-height: 45px;
    text-indent: 100px;
}