*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.color_blocks{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    position: absolute;
}
#red_color_block{
    background-color: red;
    z-index: 2;
}
#darkblue_color_block{
    background-color: darkblue;
    top: 20px;
    left: 20px;
    z-index: 3;
}
#gray_color_block{
    background-color: gray;
    top: 40px;
    left: 40px;
    z-index: 1;
}
