*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: productsans;
}
@font-face {
    font-family: productsans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}
#validation_form_container{
    width: 580px;
    height: fit-content;
    margin: auto;
    padding: 10px 10px 10px 30px;
    background-color: lightgray;
    border-radius: 50px;
    background-image: linear-gradient(to right bottom,gray,lightgray,white,lightgray,white,lightgray,gray);
}
#validation_form_heading{
    font-size: 50px;
    text-align: center;
}
#gender_heading{
    font-size: 35px;
    margin-bottom: 3px;
}
.input_box{
    font-size: 25px;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 5px;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
}
.age_inputbox{
    width: 317.5px;
}
#radio_buttons_container,#checkbox_container{
    font-size: 25px;
    margin-bottom: 10px;
}
/* attribute selectors */
input[type="radio"],input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
input[type="submit"]{
    font-size: 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 2px 10px;
}
/* Pseudo selectors,attribute selectors */
input[type="username"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid{
    border-bottom: 3px solid  red;
}
input[type="username"]:valid,
input[type="password"]:valid,
input[type="number"]:valid{
    border-bottom: 3px solid green;
}
input[type="radio"]:checked,input[type="checkbox"]:checked{
    transform: scale(1.4);
}
input[type="submit"]:active{
    color: black;
    background-color: white;
}