*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#color_block{
    /* default code */
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 25%;
    position: absolute;
    top: 200px;
    left: 600px;
    cursor: pointer;
}
#color_block:hover{
    animation-name: toAnimateColorBlock;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-delay: 3000ms;
    /* none is default value will control animation CSS code filling from default code to 'from code' to 'to code' and to default code */
    animation-fill-mode: none;
    /* backwards value will control animation CSS code filling from default code to 'from code' to 'to code' */
    animation-fill-mode: forwards;
    /* forwards value will control animation CSS code filling from 'from code' to 'to code' and to default code */
    animation-fill-mode: backwards;
    /* both value will control animation CSS code filling from 'from code' to 'to code' */
    animation-fill-mode: both;
}
@keyframes toAnimateColorBlock {
    from{
        background-color: orange;
    }
    50%{
        background-color: darkblue;
        border-radius: 50%;
    }
    to{
        background-color: greenyellow;
        box-shadow: 0px 0px 20px gray,0px 0px 40px gray;
    }
}