*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#red_box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* border: 2px solid black; */
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray,0px 0px 20px gray,0px 0px 30px gray;
    animation-name: animationToRedBox;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1000ms;
    /* animation: animationToRedBox 4500ms ease-in-out 1000ms infinite; */
}
@keyframes animationToRedBox {
    /* first frame */
    0%{
        transform: translate(0px,0px);
        background-color: red;
    }
    /* second frame */
    25%{
        transform: translateY(629px) scale(1);
        background-color: yellow;
    }
    /* third frame */
    50%{
        transform: translate(314.5px,314.5px) scale(3);
        background-color: darkblue;
    }
    /* fourth frame */
    75%{
        transform: translate(629px,629px) scale(1);
        background-color: gray;
    }
    /* fifth frame */
    100%{
        transform: translate(629px,0px);
        background-color: greenyellow;
    }
}