*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: productsans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
body{
    overflow: hidden;
}
#web_development_heading{
    font-size: 32px;
    animation-name: toAnimateWebDevelopmentHeading;
    font-family: productsans;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* normal is default value will control animation effect direction from 'from state' to 'to state' and animation effect will flicker */
    animation-direction: normal;
    /* reverse value will control animation effect direction from 'to state' to 'from state' and animation effect will flicker */
    animation-direction: reverse;
    /* alternate value will control animation effect direction from 'from state' to 'to state' and animation effect will not flicker */
    animation-direction: alternate;
    /* alternate-reverse value will control animation effect direction from 'to state' to 'from state' and animation effect will not flicker */
    animation-direction: alternate-reverse;
}
/* animation logics */
@keyframes toAnimateWebDevelopmentHeading {
    from{
        transform: translateX(-50%);
    }
    to{
        color: darkblue;
        transform: translateX(22%);
        font-size: 100px;
    }
}