*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: productsans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
#slideshow_heading{
    font-size: 100px;
    color: chocolate;
    text-align: center;
    font-family: productsans;
}
#images_container{
    width: 1000px;
    height: 600px;
    /* background-color: gray; */
    border-radius: 130px;
    position: relative;
    top: 22px;
    left: 270px;
    background-image: url(../../assets/images/MountHimalayas.jpg);
    background-size: 100% 100%;
    box-shadow: 0px 0px 25px gray,0px 0px 50px gray;
    cursor: pointer;
}
#images_container:hover{
    animation: toAnimateImageContainer 9500ms ease-in-out infinite normal none;
}
/* animation logics */
@keyframes toAnimateImageContainer {
    14.4%{
        background-image: url(../../assets/images/MountFuji.jpg);
    }
    28.8%{
        background-image: url(../../assets/images/Parachute.jpg);
    }
    43.2%{
        background-image: url(../../assets/images/Forest.jpg);
    }
    56.6%{
        background-image: url(../../assets/images/BeachRamp.jpg);
    }
    72%{
        background-image: url(../../assets/images/SunRise.jpg);
    }
    86.4%{
        background-image: url(../../assets/images/Ocean.jpg);
    }
}