@font-face {
    font-family: productsans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}
.heading{
    font-size: 150px;
    font-family: productsans;
    width: fit-content;
    background-clip: text;
    color: transparent;
}
#instagram_heading{
    background-image: linear-gradient(to right, darkblue,magenta,red,orange);
}
#earth_heading{
    background-image: url(../../../assets/images/Earth.png);
    background-position: center;
    background-size: 100%;
}