*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/Product\ Sans\ Regular.ttf);
}
#earth_tools_cointainer{
    background-image: url(../../assets/images/space.png);
    background-size: 50%;
    width: 100vw;
    height: 100vh;
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.buttons{
    width: 23.5vw;
    height: 23.5vw;
    font-size: 20vw;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 25px gray,inset 0px 0px 50px gray;
    cursor: pointer;
}
#earth_image{
    width: 19.5vw;
    height: 19.5vw;
    position: absolute;
    bottom: 2vh;
}
.buttons:hover{
    color: white;
    background-color: gray; 
}
.buttons:hover~#earth_image{
    transition: transform 50000ms linear;
}
#x_buttons:hover~#earth_image{
    transform: rotateX(360deg);
}
#y_buttons:hover~#earth_image{
    transform: rotateY(360deg);
}
#z_buttons:hover~#earth_image{
    transform: rotateZ(360deg);
}