*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face{
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
#responsive_navigation_bar{
    width: 100vw;
    height: 75px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media only screen and (orientation: landscape){
    #jspiders_logo_container{
        position: absolute;
        top: 5%;
        left: 0.25%;
    }
    /* #jspiders_logo{
        width: 19vh;
    } */
    #responsive_navigation_bar_list{
        font-size: 3vw;
        font-weight: bold;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0%;
        list-style-type: none;
        background-color: orange;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (orientation: portrait){
    #responsive_navigation_bar_list{
        display: none;
    }
}