.border_container{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    float: left;
    border-width: 30px;
    border-color: gray;
}
#solid_bordered_container{
    border-style: solid;
}
#dashed_bordered_container{
    border-style: dashed;
}
#dotted_bordered_container{
    border-style: dotted;
}
#double_bordered_container{
    border-style: double;
}
#inset_bordered_container{
    border-style: inset;
}
#outset_bordered_container{
    border-style: outset;
}
#groove_bordered_container{
    border-style: groove;
}
#ridge_bordered_container{
    border-style: ridge;
}
#shorthand_border_container{
    /* specific border property */
    border-width: 30px;
    border-style: solid;
    border-color: gray;
    /* shorthand border property */
    border: 30px solid gray;
}
#mixed_border_property{
    /* specific side specific border property */
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: darkblue;
    border-right-width: 30px;
    border-right-style: double;
    border-right-color: orange;
    border-bottom-width: 30px;
    border-bottom-style: dotted;
    border-bottom-color: darkblue;
    border-left-width: 30px;
    border-left-style: dashed;
    border-left-color: orange;
    /* specific side shorthand border property */
    border-top: 30px solid darkblue;
    border-right: 30px double orange;
    border-bottom: 30px dotted darkblue;
    border-left: 30px dashed orange;
    background-color: transparent;
}