h1 {
    color: red;
    font-size: 50px;
}

input {
    font-size: 23px;
    border: 3px solid red;
    outline: none;
}

button {
    font-size: 35px;
    color: white;
    background-color: royalblue;
    border-radius: 30px;
    outline: none;
    border: none;
}