*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: productsans;
}
@font-face {
    font-family: productsans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}
#heading_container{
    padding: 20px;
    background-color: greenyellow;
    display: flex;
    /* flex-direction : row | column | row-reverse | column-reverse ;*/
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
}
.heading{
    font-size: 40px;
    padding: 10px;
    background-color: black;
    color: white;
}
#numeric_heading_container{
    width: 50%;
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* flex-wrap: nowrap(default value) | wrap | wrap-reverse ; */
    flex-wrap: wrap;
}
.numeric_heading{
    font-size: 50px;
    color: white;
    background-color: purple;
    padding: 5px;
    margin: 10px 0px;
}
#circular_block_container{
    height: 776px;
    padding: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start | flex-end | space-around | space-between | space-evenly; */
    justify-content: space-evenly;
    /* align-items: stretch(default value) | flex-start | flex-end | center; */
    align-items: center;
    column-gap: 10px;
}
.circular_blocks{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: greenyellow;
    cursor: pointer;
}
.circular_blocks:hover{
    transform: scale(1.25);
    transition: transform 500ms linear;
}