#parent_container,#capsule_container,#parent_box{
    width: 300px;
    height: 150px;
}
.child_container,#child_box{
    width: 50%;
    height: 100%;
    float: left;
}
#black_container{
    background-color: black;
    border-radius: 50% 0% 0% 50%;
}
#gray_container{
    background-color: gray;
    border-radius: 0% 50% 50% 0%;
}

#capsule_container{
    background-image: linear-gradient(to right ,black 50%,gray 50%);
    border-radius: 75px;
}

#parent_box{
    background-color: gray;
    border-radius: 75px;
}
#child_box{
    background-color: black;
    border-radius: 50% 0% 0% 50%;
}