@font-face {
    font-family: productsans;
    src: url(../../../../assets/fonts/ProductSansRegular.ttf);
}
#google_gemini_icon_container{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to bottom right,lightblue, pink);
}
.google_geminis{
    width: 50%;
    height: 50%;
    float: left;
    background-color: white;
}
#first_gemini{
    border-bottom-right-radius: 100%;
}
#second_gemini{
    border-bottom-left-radius: 100%;
}
#third_gemini{
    border-top-right-radius: 100%;
}
#fourth_gemini{
    border-top-left-radius: 100%;
}
#google_gemini_logo_heading{
    width: fit-content;
    font-size: 140px;
    background-image: linear-gradient(to bottom right,lightblue, lightpink);
    background-clip: text;
    color: transparent;
    font-family: productsans;
}